@import './sass/constants.scss';
@import './sass/normalize.scss';
@import './sass/reset.scss';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import './sass/toast.scss';

body {
  @include roboto;
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-white;
  color: $color-dark;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.form {
  position: relative;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  width: 85%;
  margin: 0 auto;

  @media (max-width: $breakpoint-md-min) {
    grid-template-columns: 2fr 1fr;
    width: 98%;
  }

  @media (max-width: $breakpoint-xs-min) {
    grid-template-columns: 2fr 1.4fr;
  }
}

.input-wrapper {
  transform: skewX(-45deg);
  background-color: $color-grey-09;
  border: 2px solid $color-white;
  overflow: hidden;

  @media (max-width: $breakpoint-md-min) {
    border-right-width: 1px;
    transform: skewX(0);
  }
}

.form__input {
  width: 100%;
  height: 100%;
  padding: $base * 8 $base * 2 $base * 8 $base * 10;
  background-color: transparent;
  color: $color-dark-09;
  font-size: calc($fs-m + 1.5vw);
  font-weight: $fw-bold;
  border: none;
  transform: skewX(45deg);

  @media (max-width: $breakpoint-md-min) {
    padding: $base * 8 $base * 2 $base * 8 $base * 2;
    transform: skewX(0);
  }

  @media (max-width: $breakpoint-xs-min) {
    font-size: calc($fs-xs + 1.5vw);
  }

  &::placeholder {
    color: $color-dark-09;
  }
}

.submit-wrapper {
  transform: skewX(-45deg);
  background-color: $color-red-09;
  border: 2px solid $color-white;
  overflow: hidden;
  transition: background-color $transition-01;

  @media (max-width: $breakpoint-md-min) {
    border-left-width: 1px;
    transform: skewX(0);
  }
}

.submit-wrapper_disabled {
  background-color: $color-yellow;
}

.form__submit {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: $color-white;
  font-size: calc($fs-m + 1.3vw);
  font-weight: $fw-bold;
  text-transform: uppercase;
  border: none;
  transform: skewX(45deg);
  transition: color $transition-01;

  &:disabled {
    color: $color-red-09;
  }

  @media (max-width: $breakpoint-md-min) {
    transform: skewX(0);
  }

  @media (max-width: $breakpoint-xs-min) {
    font-size: calc($fs-xs + 1.3vw);
  }
}
